body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hidden {
  display: none;
}

h1, h2 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

button {
  padding: 15px 30px;
  font-size: 1.5rem;
  margin-top: 20px;
  cursor: pointer;
  background-color: #00c8f8;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #009ec3;
}

button:focus {
  outline: none;
}

/* Timer UI */
#game-ui {
  position: absolute;
  top: 0px;          /* Distance from the top */
  right: 0px;        /* Distance from the right */
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 1;
}


/* End Screen */
#end-screen {
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
}

#end-message {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#restart-button {
  padding: 15px 30px;
  font-size: 1.5rem;
  margin-top: 20px;
  cursor: pointer;
  background-color: #ff4c4c;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
}

#restart-button:hover {
  background-color: #d13030;
}
